{% extends "account/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block head_title %}Historial de reservas{% endblock %}


{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/chat.css' %}" />
{% endblock %}

{% block content %}
<main class="main" role="main">
	<header class="site-title color">
	</header>

	<div class="wrap">
		<div class="row">			
			<!--- Sidebar -->
			<aside class="one-fourth sidebar left">
				<!-- Widget -->
				<div class="widget">
					<ul class="categories">
						<li><a href="{% url 'reservation' %}">Reservar</a></li>
						<li><a href="{% url 'userprofile' %}">Panel</a></li>
						<li class="active"><a href="{% url 'history' %}">Historial</a></li>
						<li><a href="{% url 'userprofile-update' user.id %}">Ajustes</a></li>
					</ul>
				</div>
				<!-- //Widget --> 
				<!-- Widget -->
				<div class="widget">
					<h4>¿Por qué reservar con nosotros?</h4>
					<div class="textwidget">
						<h5>Reliable and Safe</h5>
						<p>Lorem ipsum dolor sit amet,  do eiusmod tempor incididunt labore et dolore magna aliqua.</p>
						<h5>No hidden fees</h5>
						<p>Lorem ipsum dolor sit amet,  do eiusmod tempor incididunt labore et dolore magna aliqua.</p>
						<h5>We’re Always Here</h5>
						<p>Lorem ipsum dolor sit amet,  do eiusmod tempor incididunt labore et dolore magna aliqua.</p>
					</div>
				</div>
				<!-- //Widget --> 
				<!-- Widget -->
				<div class="widget">
					<h4>PUBLICIDAD</h4>
					<a href="#"><img src="http://placehold.it/800x600" alt="" /></a>
				</div>
				<!-- //Widget -->
				<!-- Widget -->
				<div class="widget">
					<h4>Necesitas ayuda?</h4>
					<div class="textwidget">
						<p>Llame a nuestro equipo de servicio al cliente en el número siguiente para hablar con uno de nuestros asesores que le ayudará con todas sus necesidades.</p>
						<p class="contact-data"><span class="ico phone black"></span> +1 555 555 555</p>
					</div>
				</div>
				<!-- //Widget -->
			</aside>
			<!--- //Sidebar -->				

			<!--- Content -->
			<div class="three-fourth content">
				{% if fi_reservations %}
				<div class="results">
					<h2>RESERVAS FINALIZADAS</h2>
					{% for r in fi_reservations %}
					<article class="result">
						<div class="one-fourth heightfix"><img width="100%" src="{{ r.conduct.get_avatar }}" alt="" /></div>
						<div class="one-half heightfix">
							<h3>{{ r.conduct.full_name }}<a href="javascript:void(0)" class="trigger color" title="Read more">?</a></h3>
							<ul>
								<li>
									<i class="fa fa-clock-o fa-3x color-ico"></i>
									<p>TIEMPO ESTIMADO <strong> <br />{{ r.time }} minutos</strong></p>
								</li>
								<li>
									<i class="fa fa-road fa-3x color-ico"></i>
									<p>DISTANCIA <strong> <br />{{ r.distance }} km</strong></p>
								</li>
							</ul>
						</div>
						<div class="one-fourth heightfix">
							<div>
								<a href="#chat-div" id="chat-btn" class="btn taxibg large">CHAT</a>
							</div>
						</div>
						<div class="full-width information">	
							<a href="javascript:void(0)" class="close color" title="Close">x</a>
							<p><strong>MODELO: </strong>Mazda</p>
							<p><strong>COLOR: </strong>VERDE</p>
							<p><strong>PLACA: </strong>8JY-XX</p>
						</div>
					</article>	
					{% endfor %}
				</div>
				{% else %}
				<div class="results">
					<h2>RESERVAS FINALIZADAS</h2>
					<div class="message_error">NO TIENES RESERVAS FINALIZADAS</div>	
				</div>
				{% endif %}
				

				{% if ca_reservations %}
				<div class="results">
					<h2>RESERVAS CANCELADAS</h2>
					{% for r in ca_reservations %}
					<article class="result">
						<div class="one-fourth heightfix"><img width="100%" src="{{ r.conduct.get_avatar }}" alt="" /></div>
						<div class="one-half heightfix">
							<h3>{{ r.conduct.full_name }}<a href="javascript:void(0)" class="trigger color" title="Read more">?</a></h3>
							<h4 style="padding: 12%;text-align: center;">Reserva cancelada inesperadamente</H4>
						</div>
						<div class="one-fourth heightfix">
							<div>
								<a href="#chat-div" id="chat-btn" class="btn taxibg large">CHAT</a>
							</div>
						</div>
						<div class="full-width information">	
							<a href="javascript:void(0)" class="close color" title="Close">x</a>
							<p><strong>MODELO: </strong>Mazda</p>
							<p><strong>COLOR: </strong>VERDE</p>
							<p><strong>PLACA: </strong>8JY-XX</p>
						</div>
					</article>	
					{% endfor %}
				</div>
				{% else %}
				<div class="results">
					<h2>RESERVAS CANCELADAS</h2>
					<div class="message_error">NO TIENES RESERVAS CANCELADAS</div>	
				</div>
				{% endif %}
				<!-- chat -->
				<div class="container clearfix" id="chat-div">
					<div class="chat">
						<div class="chat-header clearfix">
							<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

							<div class="chat-about">
								<div class="chat-with">Chat con  Pedro Lirola</div>
								<div class="chat-num-messages">En camino</div>
							</div>
							<a style="float: right;" href="#" id="chat-btn-close" class="btn taxibg large">CERRAR</a>
						</div> <!-- end chat-header -->

						<div class="chat-history">
							<ul>
								<li class="clearfix">
									<div class="message-data align-right">
										<span class="message-data-time" >10:10 AM, Hoy</span> &nbsp; &nbsp;
										<span class="message-data-name" >Juan David</span> <i class="fa fa-circle me"></i>

									</div>
									<div class="message other-message float-right">
										Hi Vincent, how are you? How is the project coming along?
									</div>
								</li>

								<li>
									<div class="message-data">
										<span class="message-data-name"><i class="fa fa-circle online"></i> Pedro</span>
										<span class="message-data-time">10:12 AM, Hoy</span>
									</div>
									<div class="message my-message">
										Are we meeting today? Project has been already finished and I have results to show you.
									</div>
								</li>

								<li class="clearfix">
									<div class="message-data align-right">
										<span class="message-data-time" >10:14 AM, Hoy</span> &nbsp; &nbsp;
										<span class="message-data-name" >Juan David</span> <i class="fa fa-circle me"></i>

									</div>
									<div class="message other-message float-right">
										Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
									</div>
								</li>



							</ul>

						</div> <!-- end chat-history -->

						<div class="chat-message clearfix">
							<textarea name="message-to-send" id="message-to-send" placeholder ="Escribe tu mensaje" rows="2" cols="50"></textarea>

							<button>Enviar</button>

						</div> <!-- end chat-message -->

					</div> <!-- end chat -->

				</div> <!-- end container --> 



				<!-- end chat -->

			</div>
			<!--- //Content -->
		</div>
	</div>
</main>
{% endblock %}

{% block extra_body %}
  	<script src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js'></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js'></script>

    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}


