{% extends "account/base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<main class="main bg-taxi" role="main">
  <div class="wrap">
    <div class="row">
      <!--- Content -->
      <div class="content one-half modal">
        <img src="{% static 'images/login-text.png' %}" height="49" class="text-register" alt="Registrarte"/>
        <!--Login-->
        <div class="box">
          {% if form.errors %}
            <div class="message_error">Su usuario y contraseña no coinciden. Porfavor intente de nuevo.</div>
          {% endif %}
          
          <form method="POST" action="{% url 'account_login' %}">            
            {% csrf_token %}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="f-row">
              <div class="full-width">
                <label for="email">Usuario/Email</label>
                {{ form.login }}
              </div>
            </div>                            
            <div class="f-row">
              <div class="full-width">
                <label for="password">Contraseña</label>
                {{ form.password }}
              </div>
            </div>
            <div class="f-row">
              <div class="full-width check">
                <label for="remember">Recordame: </label>
                {{ form.remember }}
              </div>
            </div>
            <div class="f-row">
              <div class="full-width">
                <input type="submit" value="Entrar" class="btn color medium full" />
              </div>
            </div>

            <p><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> | Aun no tienes cuenta? <a href="{{ signup_url }}">{% trans "Sign Up" %}</a>.</p>
          </form>
        </div>
        <!--//Login-->
      </div>
      <!--- //Content -->
    </div>
  </div>
</main>
{% endblock %}
