{% extends "account/base.html" %}

{% load staticfiles %}
{% load functions_extras %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Reservacion Paso 2{% endblock %}

{% block content %}
	<!-- Main -->
	<main class="main" role="main">
		<!-- Search -->
		<div class="output color twoway">
			<div class="wrap">
				<div>
					<p>{{ object.since_address }}</p>
				</div>
				
				<div>
					<p>{{ object.to_address }}</p>
				</div>
			</div>
		</div>
		<!-- //Search -->
		<div class="wrap">
			<div class="row">
				<!--- Content -->
				<div class="full-width content">
					<h2>Detalles de registro</h2>
					<p>Por favor, asegúrese de todos los campos necesarios se han completado en el momento de la reserva. Esta información es imprescindible para asegurar un viaje sin problemas y tu registro en nuestro sistema..</p>
				</div>
				<!--- //Content -->
				
				<div class="two-third">
					<form>
						<div class="f-row">
							<div class="one-half">
								<label for="name">Nombre</label>
								<input type="text" value="{{ user.full_name }}" {% if object.comfirm %}readonly{% endif %}/>
							</div>
							<div class="one-half">
								<label for="number">Numero movil</label>
								<input type="number" value="{{ user.telephone }}" {% if object.comfirm %}readonly{% endif %}/>
							</div>
						</div>
						<div class="f-row">
							<div class="one-half">
								<label for="email">Email</label>
								<input type="email" value="{{ user.email }}" {% if object.comfirm %}readonly{% endif %}/>
							</div>
							<div class="one-half">
								<label for="email2">Confirma tu email</label>
								<input type="email" value="{{ user.email }}" {% if object.comfirm %}readonly{% endif %}/>
							</div>
						</div>
						<div class="f-row">
							<div class="one-half">
								<label for="city">Contraseña</label>
								<input type="text" value="***********" {% if object.comfirm %}readonly{% endif %}/>
							</div>
							<div class="one-half">
								<label for="country">Repita su contraseña</label>
								<input type="text" value="***********" {% if object.comfirm %}readonly{% endif %}/>
							</div>
						</div>
						
						<div class="actions">
							<a href="{% url 'userprofile' %}" class="btn medium back">Atras</a>
							{% if object.comfirm %}
							<a href="#" id="reenviar" class="btn medium color right">Reenviar</a>
							{% else %}
							<a href="{% url 'reservation-success' object.id %}" class="btn medium color right">Confirmar reserva</a>
							{% endif %}
						</div>
					</form>
				</div>
				
				<!--- Sidebar -->
				<aside class="one-third sidebar right">
					<!-- Widget -->
					<div class="widget">
						<h4>Resumen</h4>
						<div class="summary">
							<div>
								<dl>
									<dt>Conductor</dt>
									<dd>{{ object.conduct.full_name }}</dd>

									<dt>Llega en</dt>
									<dd>{{ object.time }} minutos</dd>									
                                    <dt>Distacia</dt>
									<dd>{{ object.distance }} km</dd>

									<hr>

									<dt>Carrera a</dt>
									<dd>{{ object.to_address }}</dd>
								</dl>
							</div>
							<dl class="total">
								<dt>Total</dt>
								<dd>840,00 usd</dd>
							</dl>
						</div>
					</div>
					<!-- //Widget -->
				</aside>
				<!--- //Sidebar -->
			</div>
		</div>
		
        
        
	</main>
	<!-- //Main -->
{% endblock %}

{% block extra_body %}
	<script type="text/javascript">
      reservation = JSON.parse({{ object|valtojs }})[0].fields;
      reservation.id = '{{ object.id }}';
      reservation["client"] = JSON.parse({{ object.client|valtojs }})[0].fields;
      reservation["conduct"] = JSON.parse({{ object.conduct|valtojs }})[0].fields;
      reservation["client"].id = '{{ object.client.id }}';
      reservation["conduct"].id = '{{ object.conduct.id }}';
  </script>
  	<script src="{% static 'js/reservation-detail.js' %}"></script>
{% endblock %}

