{% extends "account/base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Reservacion{% endblock %}

{% block content %}
<main class="main" role="main">

	<!-- //Intro -->
	<div id="mapView"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Cargando mapa...</div></div>
	<!-- Search -->
	<div class="advanced-search color" id="address">
		<div class="wrap">
			<form id="search_conduct_form" role="form" action="." method="post">
				<!-- Row -->
				<div class="f-row">
					<div class="form-group datepicker one-half">
						<h4 style="text-align: center;">Estas ubicado en: <div><img src="/static/images/marker-new.png"> - <span id="latitude" class="text-ubica"></span> <span id="longitude" class="text-ubica"></span></div></h4>
					</div>
					<div class="form-group datepicker one-half">

						<h4 style="text-align: center;">Quieres ir a: <div><img src="/static/images/marker-yellow.png"> - <span id="latitude-for" class="text-ubica"></span> <span id="longitude-for" class="text-ubica"></span></div></h4>
					</div>

				</div>
				<!-- //Row -->

				<!-- Row -->
				<div class="f-row">
					<div class="form-group" style="width: 50%;">
						<button style="font-size: 10px;" type="submit" class="btn large black">Arrastra los marcadores en el mapa para indicar informacion de reservacion</button>
					</div>
					<div class="form-group right">
						<div id="search_conducts" class="btn large black">Buscar conductores</div>
					</div>
				</div>
				<!-- //Row -->
			</form>
		</div>
	</div>
	<!-- //Search -->

	<div class="wrap">
		<div class="row">
			<!--- Content -->
			<div class="full-width content">
				<div class="message_loading">NO HAY CONDUCTORES CERCANOS...</div>
				
				<div id="listConducts" style="display:none;">
					<h2>ELIGE A TU CONDUCTOR IDEAL</h2>
					<div class="results listConducts"></div>
				</div>
			</div>
			<!--- //Content -->
		</div>
	</div>
</main>
{% endblock %} 

{% block pre_extra_body %}
  	<script src="{% static 'js2/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js2/moment-2.5.1.js' %}"></script>
    <script src="{% static 'js2/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js2/jquery-ui-touch-punch.js' %}"></script>
    <script src="{% static 'js2/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'js2/infobox.js' %}"></script>
    <script src="{% static 'js2/app.js' %}"></script>
{% endblock %}

{% block extra_body %}
  	<script src="{% static 'js/search.js' %}"></script>
  	<script src="{% static 'js/reservation.js' %}"></script>
{% endblock %}



