{% extends "account/base.html" %}

{% load staticfiles %}
{% load functions_extras %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Reservacion Paso 2{% endblock %}

{% block content %}
	<!-- Main -->
	<main class="main bg-thanks" role="main">
		
		<div class="wrap">
			<div class="row">
				

			</div>
		</div>
	</main>
	<!-- //Main -->
	
{% endblock %}

{% block extra_body %}
  	<script type="text/javascript">
      	reservation = JSON.parse({{ object|valtojs }})[0].fields;
	    reservation.id = '{{ object.id }}';
	    reservation["client"] = JSON.parse({{ object.client|valtojs }})[0].fields;
	    reservation["conduct"] = JSON.parse({{ object.conduct|valtojs }})[0].fields;
	    reservation["client"].id = '{{ object.client.id }}';
	    reservation["conduct"].id = '{{ object.conduct.id }}';
	    socket.emit('requestTaxi', reservation);
	 </script>
{% endblock %}
