{% extends "account/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<main class="main bg-taxi" role="main">
	<div class="wrap">
		<div class="row">
			<!--- Content -->
			<div class="content one-half modal">
				<img src="{% static 'images/registrate-tet.png' %}" width="285" height="49" class="text-register" alt="Registrarte"/>
				<!--Login-->
				<div class="box">			
					{% if form.errors %}
					    <ol>
					    {% for field, errors in form.errors.items %}
    						{% for error in errors %}
					        	<div class="message_error">{{ field }}: {{ error }}</div>
					    	{% endfor %}
					    {% endfor %}
					    </ol>
					{% endif %}
					<form method="post" action="{% url 'account_signup' %}">
						{% csrf_token %}
						{% if redirect_field_value %}
						  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
						{% endif %}
						<div class="f-row">
							<div class="full-width">
								{{ form.full_name.label }}
								{{ form.full_name }}
							</div>
						</div>
						<div class="f-row">
							<div class="full-width">
								{{ form.email.label }}
								{{ form.email }}
							</div>
						</div>							
						<div class="f-row">
							<div class="full-width">
								{{ form.username.label }}
								{{ form.username }}
							</div>
						</div>                            
						<div class="f-row">
							<div class="full-width">
								{{ form.password1.label }}
								{{ form.password1 }}
							</div>
						</div>
						<div class="f-row">
							<div class="full-width">
								{{ form.password2.label }}
								{{ form.password2 }}
							</div>
						</div>
						<div class="f-row">
							<div class="full-width">
								{{ form.telephone.label }}
								{{ form.telephone }}
							</div>
						</div>
						<div class="f-row">
							<div class="full-width check">
								<input type="checkbox" id="checkbox" />
								<label for="checkbox">Acepto los terminos y condiciones</label>
							</div>
						</div>
						<div class="f-row">
							<div class="full-width">
								<input type="submit" value="Crea cuenta" class="btn color medium full" />
							</div>
						</div>

						<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
					</form>
				</div>
				<!--//Login-->
			</div>
			<!--- //Content -->
		</div>
	</div>
</main>
{% endblock %}
