{% extends "account/base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Editar Perfil{% endblock %}

{% block content %}

<main class="main bg-taxi" role="main">
	<div class="wrap">
		<div class="row">
			<!--- Content -->
			<div class="content one-half modal">
				<img src="{% static 'images/ajustes-text.png' %}"  height="49" class="text-register" alt="Registrarte"/>
				<!--Login-->
				<div class="box">
					{% if form.errors %}
					    <ol>
					    {% for field, errors in form.errors.items %}
    						{% for error in errors %}
					        	<div class="message_error">{{ field }}: {{ error }}</div>
					    	{% endfor %}
					    {% endfor %}
					    </ol>
					{% endif %}
					<div class="comments">
						<ol class="comment-list">
							<!--comment-->
							<li class="comment depth-1">
								<div class="avatar"><a href="#"><img src="{{ object.get_avatar }}" alt="" /></a></div>
								<div class="comment-box">
									<div class="comment-author meta"> 
										<strong> <a href="javascript:void(0)" id="change_avatar" class="btn small color"> Cambiar foto</a>
										</div>
									</div> 
								</li>
								<!--//comment-->
							</o>
						</div>
						<form method="post" action="." enctype="multipart/form-data">
							{% csrf_token %}
							<input id="id_avatar" name="avatar" type="file" style="display: none;">
							<div class="f-row">
								<div class="full-width">
									Nombre completo
									{{ form.full_name }}
								</div>
							</div>
							<div class="f-row">
								<div class="full-width">
									{{ form.email.label }}
									{{ form.email }}
								</div>
							</div>							
							<div class="f-row">
								<div class="full-width">
									{{ form.username.label }}
									{{ form.username }}
								</div>
							</div>                            
							<div class="f-row">
								<div class="full-width">
									Telefono
									{{ form.telephone }}
								</div>
							</div>
							<div class="f-row">
								<div class="full-width">
									<input type="submit" value="Actualizar" class="btn color medium full" />
								</div>
							</div>
							
						</form>
					</div>
					<!--//Login-->
				</div>
				<!--- //Content -->
			</div>
		</div>
	</main>
{% endblock %} 

{% block extra_body %}
	<script type="text/javascript">
		$('#change_avatar').click(function(){
			$('#id_avatar').click();
		});
	</script>
{% endblock %}
