{% load staticfiles %}
{% load functions_extras %}
<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="keywords" content="" />
  <meta name="description" content="">
  <meta name="author" content="Hobox.com">
  
  <title>{% block head_title %}{% endblock %}</title>
  
  <link rel="stylesheet" href="{% static 'css/theme-pink.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/animate.css' %}" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Montserrat:400,700">
  <link rel="shortcut icon" href="images/favicon.ico">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
    <![endif]-->
  {% block extra_head %}{% endblock %}
  </head>
  
  <body>
  {% block body %}

    <!-- Header -->
  <header class="header" role="banner">
    <div class="wrap">
      <!-- Logo -->
      <div class="logo">
        <a href="/" title="Transfers"><img src="{% static 'images/logo.png' %}" width="234" height="48" alt="TaxiClick"/></a>
      </div>
      <!-- //Logo -->
      
      <!-- Main Nav -->
      <nav role="navigation" class="main-nav">
        <ul>
          <li><a href="/" title=""><i class="fa fa-home"></i> Inicio</a></li>

          {% if user.is_authenticated %}
          <li><a href="{% url 'userprofile' %}" title="Panel"><i class="fa fa-taxi"></i> Panel</a></li>
          <li><a href="" title="Contactanos"><i class="fa fa-envelope"></i> Contacto</a></li>
          <li>
            <a href="#" title="entrar" class="bnt-login" id="logout"><i class="fa fa-sign-in"></i> Cerrar sessión</a>
            <form id="form_logout" method="post" action="/accounts/logout/">
              {% csrf_token %}
            </form>
          </li>
          {% else %}
          <li><a href="{% url 'reservation' %}" title="Solicitar"><i class="fa fa-taxi"></i> Solicitar</a></li>
          <li><a href="" title="Contactanos"><i class="fa fa-envelope"></i> Contacto</a></li>
          <li><a href="{% url 'account_login' %}" title="entrar" class="bnt-login"><i class="fa fa-sign-in"></i> Iniciar sessión</a></li>
          {% endif %}
          
        </ul>
                
      </nav>
      <!-- //Main Nav -->
    </div>
  </header>
  
  <!-- Main -->
  {% block content %}{% endblock %}
  <!-- //Main -->
  
  <!-- Footer -->
  <footer class="footer black" role="contentinfo">
    <div class="wrap">
      <div class="row">
        <!-- Column -->
        <article class="one-half">
          <h6>Nosotros</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
        </article>
        <!-- //Column -->
        
        <!-- Column -->
        <article class="one-fourth">
          <h6>Necesitas ayuda?</h6>
          <p>Contactanos via email o telefono:</p>
          <p class="contact-data"><span class="ico phone"></span> +1 555 555 555</p>
          <p class="contact-data"><span class="ico email"></span> <a href="mailto:hola@taxiclick.com">hola@taxiclick.com</a></p>
        </article>
        <!-- //Column -->
        
        <!-- Column --> 
        <article class="one-fourth">
          <h6>Siguenos</h6>
          <ul class="social">
            <li class="facebook"><a href="#" title="facebook">facebook</a></li>
            <li class="twitter"><a href="#" title="twitter">twitter</a></li>
            <li class="gplus"><a href="#" title="gplus">google plus</a></li>
            <li class="linkedin"><a href="#" title="linkedin">linkedin</a></li>
            <li class="vimeo"><a href="#" title="vimeo">vimeo</a></li>
            <li class="pinterest"><a href="#" title="pinterest">pinterest</a></li>
          </ul>
        </article>
        <!-- //Column -->
      </div>
      
      <div class="copy">
        <p>Copyright 2015, TaxiClick. All rights reserved By Hobox. </p>
        
        <nav role="navigation" class="foot-nav">
          <ul>
            <li><a href="#" title="About us">Nosotros</a></li>
            <li><a href="#" title="Contact us">Contactanos</a></li>
            <li><a href="#" title="Terms of use">Terminos de uso</a></li>
            <li><a href="#" title="Help">Ayuda</a></li>
            <li><a href="#" title="For partners">Para Panthers</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>
  <!-- //Footer -->
  
  <!-- Preloader -->
  <div class="preloader">
    <div id="followingBallsG">
      <div id="followingBallsG_1" class="followingBallsG"></div>
      <div id="followingBallsG_2" class="followingBallsG"></div>
      <div id="followingBallsG_3" class="followingBallsG"></div>
      <div id="followingBallsG_4" class="followingBallsG"></div>
    </div>
  </div>
  <!-- //Preloader -->

  {% endblock %}
  
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places" type="text/javascript"></script>
  
  {% block pre_extra_body %}{% endblock %}

  <!-- jQuery -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.uniform.min.js' %}"></script>
  <script src="{% static 'js/jquery.datetimepicker.js' %}"></script>
  <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
  <script src="{% static 'js/wow.min.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>

  <script type="text/javascript">
    $('#logout').click(function(){
      $('#form_logout').submit();
    })
  </script>

  <script type="text/javascript">
      var user_id = '{{ user_id }}';
      var csrf_token = '{{ csrf_token }}';
      if (JSON.parse({{ request.user|valtojs }}).length > 0){
        user = JSON.parse({{ request.user|valtojs }})[0].fields;
        user.id = user_id;
      }else{
        user = {"username": "no_register","user_type":"CL"};  
      }
  </script>

  <script src="http://192.99.54.226:3000/socket.io/socket.io.js"></script>
  <script src="{% static 'js/socket-io.js' %}"></script>

  {% block extra_body %}{% endblock %}
  </body>
</html>