{% extends "account/base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Bienvenido a TaxiClick{% endblock %}

{% block content %}
<main class="main" role="main">
  <!-- Intro -->
  <div class="intro">
    <div class="wrap">
      <div class="textwidget">
        <div>
          <h1 class="wow fadeInDown">NECESITAS UN TAXI?</h1>
          <h2 class="wow fadeInUp">Has venido al lugar correcto.</h2>
          <div class="actions">
            <a href="#services" title="Our services" class="btn large white wow fadeInLeft anchor">Servicios</a>
            <a href="#booking" title="Make a booking" class="btn large color wow fadeInRight anchor">Haz tu reserva</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //Intro -->
  <!-- Call to action -->
  <div class="black cta">
    <div class="wrap">
      <p class="wow fadeInLeft">No olvides registrate, tendras muchas opciones de reserva</p>
      <a href="#" class="btn huge color right wow fadeInRight">Registrarme</a>
    </div>
  </div>
  <!-- //Call to action -->
  <!-- Services iconic -->
  <div class="services iconic white">
    <div class="wrap">
      <div class="row">
        <!-- Item -->
        <div class="one-third wow fadeIn">
          <span class="circle"><span class="ico lock"></span></span>
          <h3>Confiable y seguro.</h3>
          <p class="text-services">Tenga a disposición la información del conductor y del taxi que le brindara el servicio donde se encuentre.
          </p>
        </div>
        <!-- //Item -->

        <!-- Item -->
        <div class="one-third wow fadeIn" data-wow-delay=".2s">
          <span class="circle"><span class="ico heart"></span></span>
          <h3>Fácil y rápido.</h3>
          <p class="text-services">Pida el taxi más cercano a usted a solo un click de distancia, sin largas esperas.</p>
        </div>
        <!-- //Item -->

        <!-- Item -->
        <div class="one-third wow fadeIn" data-wow-delay=".4s">
          <span class="circle"><span class="ico telephone"></span></span>
          <h3>Disponible las 24 horas.</h3>
          <p class="text-services">Servicio disponible todos los días del año a cualquier hora y en cualquier lugar de la ciudad.</p>
        </div>
        <!-- //Item -->

        <!-- Item -->
        <div class="one-third wow fadeIn">
          <span class="circle"><span class="ico pig"></span></span>
          <h3>Cacteristica 4</h3>
          <p class="text-services">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
        </div>
        <!-- //Item -->

        <!-- Item -->
        <div class="one-third wow fadeIn" data-wow-delay=".2s">
          <span class="circle"><span class="ico wand"></span></span>
          <h3>Cacteristica 5</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
        </div>
        <!-- //Item -->

        <!-- Item -->
        <div class="one-third wow fadeIn" data-wow-delay=".4s">
          <span class="circle"><span class="ico wallet"></span></span>
          <h3>Cacteristica 6</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  tinc dolore magna.</p>
        </div>
        <!-- //Item -->
      </div>
    </div>
  </div>
  <!-- //Services iconic -->

  <!-- Testimonials -->
  <div class="testimonials center black">
    <div class="wrap">
      <h6 class="wow fadeInDown">Wow, this web is outstanding!</h6>
      <p class="wow fadeInUp">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      <p class="meta wow fadeInUp">-John Doe</p>
    </div>
  </div>
  <!-- //Testimonials -->

  <div class="partners white center">
    <div class="wrap">
      <h2 class="wow fadeIn">Nuestros asociados</h2>
      <div class="one-fifth wow fadeIn"><a href="#"><img src="http://placehold.it/205x60" alt="" /></a></div>
      <div class="one-fifth wow fadeIn" data-wow-delay=".2s"><a href="#"><img src="http://placehold.it/205x60" alt="" /></a></div>
      <div class="one-fifth wow fadeIn" data-wow-delay=".4s"><a href="#"><img src="http://placehold.it/205x60" alt="" /></a></div>
      <div class="one-fifth wow fadeIn" data-wow-delay=".6s"><a href="#"><img src="http://placehold.it/205x60" alt="" /></a></div>
      <div class="one-fifth" data-wow-delay=".8s"><a href="#"><img src="http://placehold.it/205x60" alt="" /></a></div>
    </div>
  </div>


  <!-- Call to action -->
  <div class="color cta">
    <div class="wrap">
      <p class="wow fadeInLeft">Subscribete a nuestro boletin de noticias.</p>
      <a href="#" class="btn huge black right wow fadeInRight">Subscribirme</a>
    </div>
  </div>
  <!-- //Call to action -->
</main>
{% endblock %}
