{% extends "companys/base.html" %}

{% load staticfiles %}

{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->                      
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="pull-left page-title">Bienvenido !</h4>
                </div>
            </div>

            <!-- Start Widget -->
            <div class="row">


                <div class="col-lg-12">
                    <div class="portlet">
                        <div class="portlet-heading bg-inverse">
                            <h3 class="portlet-title">
                                Registrar conductor
                            </h3>
                            <div class="portlet-widgets">
                                <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                <span class="divider"></span>
                                <a data-toggle="collapse" data-parent="#accordion1" href="#bg-inverse"><i class="ion-minus-round"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="bg-inverse" class="panel-collapse collapse in">
                            <div class="portlet-body">
                                <form role="form" action="." method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <a class="pull-left" href="#">
                                        <img id="image_avatar" class="thumb-lg img-circle img-reg" src="" alt="">
                                    </a>
                                    <div class="btn-up fileUpload btn btn-inverse waves-effect waves-light">
                                        <span><i class="ion-upload m-r-5"></i>Subir imagen del conductor</span>
                                        <input id="input_avatar" type="file" class="upload" name="avatar">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"  placeholder="Nombre completo" name="full_name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"  placeholder="Usuario" name="username">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control"  placeholder="Email" name="email">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"  placeholder="Numero movil" name="telephone">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control"  placeholder="Contraseña" name="password">
                                    </div>
                                    <br>Vehiculo<br><br>
                                    <div class="form-group">
                                        <input type="text" class="form-control"  placeholder="Placa" name="vehicle_plate">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"  placeholder="Modelo" name="vehicle_model">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"  placeholder="Color" name="vehicle_color">
                                    </div>
                                    <input type="hidden" value="CO" name="user_type">
                                    <button type="submit" class="btn btn-purple waves-effect waves-light">Registrar</button>
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>

            </div> 
            <!-- End row-->

        </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer text-right">
        2016 © Taxiclick by hobox.
    </footer>

</div>

</div>
<!-- END wrapper -->
{% endblock %}

{% block js %}
<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image_avatar').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#input_avatar").change(function(){
        readURL(this);
    });
</script>
{% endblock %}