{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Panel administrativo de taxiclick">
        <meta name="author" content="Hobox">

        <link rel="shortcut icon" href="images/favicon_1.ico">

        <title>TaxiClick - Escritorio</title>

        <!-- Base Css Files -->
        <link href="{% static 'companys/css/bootstrap.min.css' %}" rel="stylesheet" />

        <!-- Font Icons -->
        <link href="{% static 'companys/assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
        <link href="{% static 'companys/assets/ionicon/css/ionicons.min.css' %}" rel="stylesheet" />
        <link href="{% static 'companys/css/material-design-iconic-font.min.css' %}" rel="stylesheet">

        <!-- animate css -->
        <link href="{% static 'companys/css/animate.css' %}" rel="stylesheet" />

        <!-- Waves-effect -->
        <link href="{% static 'companys/css/waves-effect.css' %}" rel="stylesheet">

        <!-- sweet alerts -->
        <link href="{% static 'companys/assets/sweet-alert/sweet-alert.min.css' %}" rel="stylesheet">

        <!-- Custom Files -->
        <link href="{% static 'companys/css/helper.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'companys/css/style.css' %}" rel="stylesheet" type="text/css" />

        <script src="{% static 'companys/js/modernizr.min.js' %}"></script>
        
    </head>



    <body class="fixed-left">
        
        <!-- Begin page -->
        <div id="wrapper">
        
            <!-- Top Bar Start -->
            <div class="topbar">
                <!-- LOGO -->
                <div class="topbar-left">
                    <div class="text-center">
                        <a href="index.html" class="logo"><i class="md md-local-taxi"></i> <span>TaxiClick </span></a>
                    </div>
                </div>
                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="">
                            <div class="pull-left">
                                <button class="button-menu-mobile open-left">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <span class="clearfix"></span>
                            </div>
                            <form class="navbar-form pull-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control search-bar" placeholder="Buscar conductor...">
                                </div>
                                <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                            </form>

                            <ul class="nav navbar-nav navbar-right pull-right">
                                <li class="hidden-xs">
                                    <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="md md-crop-free"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true"><img src="{% static 'companys/images/avatar-1.jpg' %}" alt="user-img" class="img-circle"> </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0)"><i class="md md-settings"></i> Ajustes</a></li>
                                        <li><a href="{% url 'account_logout' %}"><i class="md md-settings-power"></i> Salir</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->


            <!-- ========== Left Sidebar Start ========== -->

            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>
                            <li>
                                <a href="index.html" class="waves-effect active"><i class="md md-home"></i><span> Escritorio </span></a>
                            </li>

                            
                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md-local-taxi"></i> <span> Conductores </span> <span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="{% url 'conducts' %}">Lista</a></li>
                                    <li><a href="{% url 'add-conduct' %}">Agregar</a></li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="fa fa-money"></i> <span> Tarifarios </span> <span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="lista-tarifarios.html">Lista</a></li>
                                    <li><a href="agregar_tarifario.html">Agregar</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Left Sidebar End --> 



            {% block content %}{% endblock %}

        </div>
        <!-- END wrapper -->


    
        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="{% static 'companys/js/jquery.min.js' %}"></script>
        <script src="{% static 'companys/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'companys/js/waves.js' %}"></script>
        <script src="{% static 'companys/js/wow.min.js' %}"></script>
        <script src="{% static 'companys/js/jquery.nicescroll.js' %}" type="text/javascript"></script>
        <script src="{% static 'companys/js/jquery.scrollTo.min.js' %}"></script>
        <script src="{% static 'companys/assets/chat/moment-2.2.1.js' %}"></script>
        <script src="{% static 'companys/assets/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
        <script src="{% static 'companys/assets/jquery-detectmobile/detect.js' %}"></script>
        <script src="{% static 'companys/assets/fastclick/fastclick.js' %}"></script>
        <script src="{% static 'companys/assets/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'companys/assets/jquery-blockui/jquery.blockUI.js' %}"></script>

        <!-- sweet alerts -->
        <script src="{% static 'companys/assets/sweet-alert/sweet-alert.min.js' %}"></script>
        <script src="{% static 'companys/assets/sweet-alert/sweet-alert.init.js' %}"></script>

        <!-- flot Chart -->
        <script src="{% static 'companys/assets/flot-chart/jquery.flot.js' %}"></script>
        <script src="{% static 'companys/assets/flot-chart/jquery.flot.time.js' %}"></script>
        <script src="{% static 'companys/assets/flot-chart/jquery.flot.tooltip.min.js' %}"></script>
        <script src="{% static 'companys/assets/flot-chart/jquery.flot.resize.js' %}"></script>
        <script src="{% static 'companys/assets/flot-chart/jquery.flot.pie.js' %}"></script>
        <script src="{% static 'companys/assets/flot-chart/jquery.flot.selection.js' %}"></script>
        <script src="{% static 'companys/assets/flot-chart/jquery.flot.stack.js' %}"></script>
        <script src="{% static 'companys/assets/flot-chart/jquery.flot.crosshair.js' %}"></script>

        <!-- Counter-up -->
        <script src="{% static 'companys/assets/counterup/waypoints.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'companys/assets/counterup/jquery.counterup.min.js' %}" type="text/javascript"></script>
        
        <!-- CUSTOM JS -->
        <script src="{% static 'companys/js/jquery.app.js' %}"></script>

        <!-- Dashboard -->
        <script src="{% static 'companys/js/jquery.dashboard.js' %}"></script>

        <!-- Chat -->
        <script src="{% static 'companys/js/jquery.chat.js' %}"></script>

        <!-- Todo -->
        <script src="{% static 'companys/js/jquery.todo.js' %}"></script>

        <script type="text/javascript">
            /* ==============================================
            Counter Up
            =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });
        </script>

        {% block js %}{% endblock %}
    
    </body>
</html>