{% extends "companys/base.html" %}

{% load staticfiles %}

{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->                      
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="pull-left page-title">Bienvenido !</h4>
                </div>
            </div>

            <!-- Start Widget -->
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-4">
                    <div class="mini-stat clearfix bx-shadow">
                        <span class="mini-stat-icon bg-inverse"><i class="ion-model-s"></i></span>
                        <div class="mini-stat-info text-right text-muted">
                            <span class="counter">{{ conducts.count }}</span>
                            Conductores
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">INACTIVOS</h4>
                        </div>
                        <div class="panel-body">
                            <div class="inbox-widget nicescroll mx-box" tabindex="5000" style="overflow: hidden; outline: none;">
                                {% for conduct in conducts %}
                                    {% if conduct.user_status == 'IN' %}
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="{% static 'companys/images/users/avatar-1.jpg' %}" class="img-circle" alt=""></div>
                                            <p class="inbox-item-author">{{ conduct.full_name }}</p>
                                            <p class="inbox-item-text"><i class="md-local-taxi"></i>Placa :  HRTSS</p>
                                            <p class="inbox-item-date"><span class="label label-default">INACTIVO</span></p>
                                        </div>
                                    </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-8">
                    <div class="panel panel-success" style="height: 300px;">
                        <div class="panel-heading">
                            <h4 class="panel-title">EN LINEA</h4>
                        </div>
                        <div class="panel-body">
                            <div class="inbox-widget nicescroll mx-box" tabindex="5000" style="overflow: hidden; outline: none;">
                                {% for conduct in conducts %}
                                    {% if conduct.user_status == 'AC' %}
                                        <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="{% static 'companys/images/users/avatar-1.jpg' %}" class="img-circle" alt=""></div>
                                            <p class="inbox-item-author">{{ conduct.full_name }}</p>
                                            <p class="inbox-item-text"><i class="md-local-taxi"></i>Placa :  HRTSS</p>
                                            <p class="inbox-item-date"><span class="label label-success">DISPONIBLE</span></p>
                                        </div>
                                    </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-danger" style="height: 300px;">
                        <div class="panel-heading">
                            <h4 class="panel-title">OCUPADOS</h4>
                        </div>
                        <div class="panel-body">
                            <div class="inbox-widget nicescroll mx-box" tabindex="5000" style="overflow: hidden; outline: none;">
                                {% for conduct in conducts %}
                                    {% if conduct.user_status == 'OC' %}
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="{% static 'companys/images/users/avatar-1.jpg' %}" class="img-circle" alt=""></div>
                                            <p class="inbox-item-author">{{ conduct.full_name }}</p>
                                            <p class="inbox-item-text"><i class="md-local-taxi"></i>Placa :  HRTSS</p>
                                            <p class="inbox-item-date"><span class="label label-danger">OCUPADO</span></p>
                                        </div>
                                    </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div> 
            <!-- End row-->

        </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer text-right">
        2016 © TaxiClik by <a>Hobox Inc</a>
    </footer>

</div>
{% endblock %}