{% extends "companys/base.html" %}

{% load staticfiles %}

{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->                      
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="pull-left page-title">Bienvenido !</h4>
                </div>
            </div>

            <!-- Start Widget -->
            <div class="row">


                {% for conduct in conducts %}
                <div class="col-sm-6 col-lg-4">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="media-main">
                                <a class="pull-left" href="{% url 'detail-conduct' conduct.id %}">
                                    <img class="thumb-lg img-circle" src="{{ conduct.get_avatar }}" alt="">
                                </a>
                                <div class="pull-right btn-group-sm">
                                    <a href="{% url 'detail-conduct' conduct.id %}" class="btn btn-success waves-effect waves-light tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Ver">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#" class="btn btn-danger waves-effect waves-light tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Eliminar">
                                        <i class="fa fa-close"></i>
                                    </a>
                                </div>
                                <div class="info">
                                    <h4>{{ conduct.full_name }}</h4>
                                    <p class="text-muted">{{ conduct.username }}</p>
                                </div>
                            </div>
                        </div> <!-- panel-body -->
                    </div> <!-- panel -->
                </div> <!-- end col -->
                {% endfor %}

            </div> 
            <!-- End row-->

        </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer text-right">
        2015 © Ekmovil by hobox.
    </footer>

</div>

</div>
{% endblock %}