{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Panel administrativo de taxiclick">
        <meta name="author" content="Hobox">

        <link rel="shortcut icon" href="images/favicon_1.ico">

        <title>Registro - TaxiClick</title>

        <!-- Base Css Files -->
        <link href="{% static 'companys/css/bootstrap.min.css' %}" rel="stylesheet" />

        <!-- Font Icons -->
        <link href="{% static 'companys/assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
        <link href="{% static 'companys/assets/ionicon/css/ionicons.min.css' %}" rel="stylesheet" />
        <link href="{% static 'companys/css/material-design-iconic-font.min.css' %}" rel="stylesheet">

        <!-- animate css -->
        <link href="{% static 'companys/css/animate.css' %}" rel="stylesheet" />

        <!-- Waves-effect -->
        <link href="{% static 'companys/css/waves-effect.css' %}" rel="stylesheet">

        <!-- Custom Files -->
        <link href="{% static 'companys/css/helper.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'companys/css/style.css' %}" rel="stylesheet" type="text/css" />

        <script src="{% static 'companys/js/modernizr.min.js' %}"></script>
        
    </head>
    <body>


        <div class="wrapper-page">
            <div class="panel panel-color panel-primary panel-pages" >
                <div class="panel-heading ek-header-login" style="padding: 16px 10px;"> 
                    <h3 class="text-center m-t-10 text-white"> <img src="{% static 'companys/images/logo.png' %}" alt="user-img" class="logo" width="263" height="54"> </h3>
                </div> 


                <div class="panel-body">
                <form class="form-horizontal m-t-20" action="index.html">
                    
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control input-lg " type="text" required="" placeholder="Razón Social *">
                        </div>
                    </div>                    
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control input-lg " type="text" required="" placeholder="Nombre del gerente propietario *">
                        </div>
                    </div>                    
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control input-lg " type="text" required="" placeholder="Pagina web">
                        </div>
                    </div>                    
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control input-lg " type="text" required="" placeholder="Identificación Tributaria (NIT) *">
                        </div>
                    </div>                    
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control input-lg " type="text" required="" placeholder="Teléfono Fijo *">
                        </div>
                    </div>                    
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control input-lg " type="text" required="" placeholder="Teléfono Móvil *">
                        </div>
                    </div>                    
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control input-lg " type="text" required="" placeholder="Email *">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control input-lg" type="password" required="" placeholder="Contraseña *">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup">
                                    Acepto los <a href="#">Terminos y codiciones</a>
                                </label>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
                            <button class="btn btn-inverse btn-lg w-lg waves-effect waves-light" type="submit">Entrar</button>
                        </div>
                    </div>

                    <div class="form-group m-t-100">
                        <div class="col-xs-12 text-center">
                            <a href="login.html"><i class="fa fa-sign-in m-r-5"></i> Ya tienes cuenta?</a>
                        </div>
                    </div>
                </form> 
                </div>                                 
                
            </div>
        </div>

        
    	<script>
            var resizefunc = [];
        </script>
    	<script src="{% static 'companys/js/jquery.min.js' %}"></script>
        <script src="{% static 'companys/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'companys/js/waves.js' %}"></script>
        <script src="{% static 'companys/js/wow.min.js' %}"></script>
        <script src="{% static 'companys/js/jquery.nicescroll.js' %}" type="text/javascript"></script>
        <script src="{% static 'companys/js/jquery.scrollTo.min.js' %}"></script>
        <script src="{% static 'companys/assets/jquery-detectmobile/detect.js' %}"></script>
        <script src="{% static 'companys/assets/fastclick/fastclick.js' %}"></script>
        <script src="{% static 'companys/assets/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'companys/assets/jquery-blockui/jquery.blockUI.js' %}"></script>
        <!-- CUSTOM JS -->
        <script src="{% static 'companys/js/jquery.app.js' %}"></script>
	
	</body>
</html>