{% extends "companys/base.html" %}

{% load staticfiles %}

{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->                      
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">


            <!-- Start Widget -->
            <div class="wraper container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="bg-picture text-center" style="background-image:url('/static/images/big/bg.jpg')">
                            <div class="bg-picture-overlay"></div>
                            <div class="profile-info-name">
                                <img src="{{ object.get_avatar }}" width="130" class=" img-circle img-thumbnail" alt="profile-image">
                                <h3 class="text-white">{{ object.full_name }}</h3>
                            </div>
                        </div>
                        <!--/ meta -->
                    </div>
                </div>
                <div class="row user-tabs">
                    <div class="col-lg-6 col-md-9 col-sm-9">
                        <ul class="nav nav-tabs tabs">
                            <li class="active tab">
                                <a href="#home-2" data-toggle="tab" aria-expanded="false" class="active"> 
                                    <span class="visible-xs"><i class="fa fa-home"></i></span> 
                                    <span class="hidden-xs">Informacion y Estadisticas</span> 
                                </a> 
                            </li> 
                            <li class="tab" > 
                                <a href="#settings-2" data-toggle="tab" aria-expanded="false"> 
                                    <span class="visible-xs"><i class="fa fa-cog"></i></span> 
                                    <span class="hidden-xs">Editar</span> 
                                </a> 
                            </li> 
                            <div class="indicator"></div></ul> 
                        </div>
                        <div class="col-lg-6 col-md-3 col-sm-3 hidden-xs">
                            <div class="pull-right">
                                <div class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle btn-rounded btn btn-primary waves-effect waves-light" href="#"> Opciones <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#">Desactivar</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Eliminar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12"> 
                            <div class="tab-content profile-tab-content"> 
                                <div class="tab-pane active" id="home-2"> 
                                    <div class="row">
                                        <div class="col-md-4">
                                            <!-- Personal-Information -->
                                            <div class="panel panel-default panel-fill">
                                                <div class="panel-heading"> 
                                                    <h3 class="panel-title">Informacion personal</h3> 
                                                </div> 
                                                <div class="panel-body"> 
                                                    <div class="about-info-p">
                                                        <strong>NOMBRE</strong>
                                                        <br/>
                                                        <p class="text-muted">{{ object.full_name }}</p>
                                                    </div>
                                                    <div class="about-info-p">
                                                        <strong>TELEFONO</strong>
                                                        <br/>
                                                        <p class="text-muted">{{ object.telephone }}</p>
                                                    </div>
                                                    <div class="about-info-p">
                                                        <strong>CORREO</strong>
                                                        <br/>
                                                        <p class="text-muted">{{ object.email }}</p>
                                                    </div>
                                                    <div class="about-info-p m-b-0">
                                                        <strong>PLACA</strong>
                                                        <br/>
                                                        <p class="text-muted">{{ object.vehicle_plate }}</p>
                                                    </div>
                                                </div> 
                                            </div>
                                            <!-- Personal-Information -->

                                        </div>
                                        <div class="col-md-8">
                                            <!-- Personal-Information -->
                                            <div class="panel panel-default panel-fill">
                                                <div class="panel-heading"> 
                                                    <h3 class="panel-title">CONDUCTOR EN TIEMPO REAL</h3> 
                                                </div> 
                                                <div class="panel-body"> 
                                                    <h4>MAPA DE TIEMPO REAL</h4>
                                                </div> 
                                            </div>
                                            <!-- Personal-Information -->

                                        </div>

                                    </div>
                                </div> 


                                <div class="tab-pane" id="settings-2">
                                    <!-- Personal-Information -->
                                    <div class="panel panel-default panel-fill">
                                        <div class="panel-body"> 
                                            <form role="form">
                                                <a class="pull-left" href="#">
                                                    <img class="thumb-lg img-circle img-reg" src="images/users/avatar-3.jpg" alt="">
                                                </a>
                                                <div class="btn-up fileUpload btn btn-inverse waves-effect waves-light">
                                                    <span><i class="ion-upload m-r-5"></i>Subir imagen de perfil</span>
                                                    <input type="file" class="upload">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control"  placeholder="Nombre completo">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control"  placeholder="Usario">
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" class="form-control"  placeholder="Email">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control"  placeholder="Numero movil">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control"  placeholder="Contraseña">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control"  placeholder="Repetir contraseña">
                                                </div>
                                                <br>Vehiculo<br>
                                                <a class="pull-left" href="#">
                                                    <img class="thumb-lg img-circle img-reg" src="images/users/avatar-3.jpg" alt="">
                                                </a>
                                                <div class="btn-up fileUpload btn btn-inverse waves-effect waves-light">
                                                    <span><i class="ion-upload m-r-5"></i>Subir imagen del vehiculo</span>
                                                    <input type="file" class="upload">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control"  placeholder="Placa">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control"  placeholder="Modelo de carro">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control"  placeholder="Color">
                                                </div>
                                                <div class="form-group">
                                                    <div class="checkbox checkbox-primary">
                                                        <input type="checkbox">
                                                        <label for="checkbox1">
                                                            Aceptar terminos y condiciones
                                                        </label>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-purple waves-effect waves-light">Registrar</button>
                                            </form> 

                                        </div> 
                                    </div>
                                    <!-- Personal-Information -->
                                </div> 
                            </div> 
                        </div>
                    </div>
                </div> <!-- container -->
                <!-- End row-->

            </div> <!-- container -->

        </div> <!-- content -->

        <footer class="footer text-right">
            2016 © TaxiClick by hobox.
        </footer>

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->
{% endblock %}